<div style="margin: 20px">
    <!-- <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <input type="text" class="form-control mr-10" placeholder="Search" name="searchTerm"
                    [(ngModel)]="searchTerm">
                <button type="submit" class="btn btn-dark" (click)="search()">Search</button>
            </form>
        </div>
    </div>
</div> -->
<!-- <form action="" class="search-form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username"
            name="username" (keyup)="findProfile()">
    </div>
</form>  -->
<!-- <div class="card">
    <div class="card-body">
        <form action="" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control mr-10" placeholder="Search git users with username"
                    [(ngModel)]="username" name="username" (keyup)="findProfile()">
                    <button type="submit" class="btn btn-dark" (click) ="search">Search</button>
            </div>
        </form>
    </div>
</div>  -->
<form action="" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username"
                name="username" (keyup)="findProfile()">
        </div>
    </form>